
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Главная страница {% endblock %}</title>
</head>
<body>
    <header>
        {% block pagename %}
        <h1>Главная страница</h1>
        {% endblock %}

    </header>

    <nav>
        {% block menu %}
            <h3><a href="/platform">Главная</a></h3>
            <h3><a href="/platform/games">Магазин</a></h3>
            <h3><a href="/platform/cart">Корзина</a></h3>
        {% endblock %}
    </nav>

    <main>
        {% block content %}
            <p> </p>
        {% endblock %}
    </main>

</body>
</html>